body {
    background-color: rgb(94, 1, 81);
}
h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 45px;
    color: rgba(255, 206, 142, 0.418);
    padding: 2px;
}
p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    background-color: rgb(48, 9, 58);
    color: rgb(194, 214, 214);
    padding: 90px;
    margin: 5px;
}
.button{
    background-color: rgb(34, 146, 146);
    color: rgb(39, 31, 31);
    padding: 20px;
    margin: 30px;
    margin-block-start: 30px;
    box-shadow: rgba(85, 82, 78, 0.418);
    border-radius: 6px;
    cursor: pointer;
}